<div class="@FullClass">
    @if (WrapChildContentInColumn)
    {
        <SyncfusionColumn>
            @ChildContent
        </SyncfusionColumn>
    }
    else
    {
        @ChildContent
    }
</div>
